<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Screen</title>
    <link rel = "stylesheet" href="{{url_for('static',filename='css/index.css')}}">
</head>
<body>
    <div class="login-container">
        <img class='vinyl' src="./vinyl.png"></img>
        <form class="login-form" action="#" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
