<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Screen</title>
    <link rel = "stylesheet" href="{{url_for('static',filename='css/search-cus.css')}}">
</head>
<body>
    <div class="search-cus-input-container">
        <input type="text" id="search-input" placeholder="Search...">
        <button type="button">Search</button>
    </div>

    <div class="search-cus-container">
        <h2>Search Results</h2>
        <table>
            <tr id="row-header">
                <th>Name</th>
                <th>Artist</th>
                <th>Genre</th>
                <th>Price</th>
            </tr>

            {% for item in data %}
            <tr class = "row">
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
                <td>{{ item[3] }}</td>
                <td>{{ item[4] }}</td>
            </tr>
            {% endfor %}

            <!-- Populate table rows dynamically with JavaScript -->
        </table>
    </div>
</body>
</html>
